#main{
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  margin-top: 64px;
}

h1{
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  line-height: 40px;
  margin-top: 32px;
  margin-bottom: 16px;
}

#p1{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

#p2{
  margin-top: 32px;
  margin-bottom: 64px;
}

.color1{
  font-weight: bold;
  color: #EE24FF;
}

span, a{
  font-weight: bold;
  color: #3F3D56;
}

#footer{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 15px;
  line-height: 147.68%; 
}

#footer a + a{
  margin-left: 42px;
}

#waves{
  margin-top: 40px;
  position: absolute;
  right: 150px;
}